* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
}

body {
    overflow-x: hidden;
}

/* **********HEADER********** */

header {
    background-image: url(../Orbit-Watches/images/black-brick-wall-neon-logo-desktop.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#headerText {
    font-family: monospace;
    padding-top: 65vh;
    text-align: center;
    letter-spacing: .3rem;
}

h1 {

    color: antiquewhite;
}

h2 {
    color: antiquewhite;
    padding-top: 5vh;
}

/* **********WATCH GALLERY********** */

#watchGallery {
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
}

#watchList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
}

.watchFaces {
    width: 400px;
    height: auto;
    margin-bottom: 5vh;
}







/* **********MEDIA QUERIES********** */

@media screen and (max-width: 1024px) {
    header {
        background-image: url(../Orbit-Watches/images/black-brick-wall-neon-logo-mobile.webp);
    }

    #headerText {
        padding-top: 75vh;
    }
}